body
{
background-size: cover;
}

.heading h3
{
    display: inline;
    float: left;
}

button{
    float: right;
}

.heading
{
    width: 100%;
}

.play
{
 width: 100%;
}

#start
{
    position:center;
}